<header>
	<div class="topbar">
		<div class="logo">
			<img src="media/logo.svg"></img>
		</div>
		<div class="infocard">
			<p>Cairo Housing Authority<br>420 S High Street<br>Cairo, NE 68824</p>
			<p>Payments sent to this Address: P.O. BOX 337, Cairo, NE 68823</p>
			<p>Phone: <a href="tel:308-485-4722">(308) 485-4722</a></p>
		</div>
	</div>
	<nav>
		<a href="index.html">Home</a>
		<a href="policies.html">Policies</a>
		<a href="housing_info.html">Housing Information</a>
		<a href="resources.html">Resources</a>
		<a href="gallery.html">Gallery</a>
		<a href="faq.html">FAQ</a>
		<a href="contact_us.html">Contact Us</a>
	</nav>
</header> 
